
@{
    ViewBag.Title = "CreateSector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Create Sector Subject</h3>
    <form action="~/Subject/CreateSector" method="post">
        <div class="form-group">
            <label>Number Student: </label>
            <input type="number" name="Numb_Student" value="" />
        </div>
        <input class="btn btn-default" type="submit" name="name" value="Create" />
    </form>


</div>
