
@{
    ViewBag.Title = "YearTerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h3>CREATE YEAR TERM</h3>
    <form action="~/Subject/YearTerm" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3">Year Term:</label>
            <select name="Year_Term">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Year:</label>
            <select name="School_Year">
                <option value=""></option>
                @if(ViewBag.YearTerm != null)
                {
                    foreach(var item in ViewBag.YearTerm)
                    {
                        <option value="@item.school_year">@item.school_year</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Date Start:</label>
            <input type="text" name="Day_Start" value="" />
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Date End:</label>
            <input type="text" name="Day_End" value="" />
        </div>
        <input type="submit" name="name" value="Create" />
    </form>
</div>

