@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>

<address>
    Trường Đại Học Ngoại Ngữ - Tin Học TP.HCM (HUFLIT)<br>
    155 Sư Vạn Hạnh (nd), Phường 13, Quận 10, TP.HCM<br>
    Điện thoại: (+84 28) 38 632 052 - 38 629 232
</address>

<address>
    <strong>Email :</strong>   <a href="mailto:contact@huflit.edu.vn">contact@huflit.edu.vn</a><br />
    <strong>Hotline:</strong> <a href="">0984 190 843</a>
    <strong>Fax:</strong> <a href="">(+84 28) 38 650 991</a>
</address>