
@{
    ViewBag.Title = "CreateSchoolYear";
}
<script src="~/Scripts/index.js"></script>

<h2 class="text-center">CreateSchoolYear</h2>
<div>
    <form action="~/Home/CreateSchoolYear" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Year: </label>
            <input class="form-control" type="text" required name="School_Year" value="" />
        </div>
        <div>
            <input  class="btn btn-success" type="submit" name="name" value="Create" />
        </div>
    </form>
</div>

