
@{
    ViewBag.Title = "DangKyMonHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" text-left col-md-12">
    <input type="text" placeholder="Search.." />
    <button class="glyphicon glyphicon-search btn btn-primary"></button>
</div>
<div class="table-bordered table-condensed col-md-12 table-striped">
    <div class="table-responsive scrollvert"> 
        <table class="table table-bordered table-condensed">
            <thead class="bg-primary" >
                <tr>
                    <th>STT</th>
                    <th>Mã môn học</th>
                    <th>Tên môn học</th>
                    <th>Số TC</th>
                    <th>Học lần thứ</th>
                    <th>Lớp</th>
                    <th>Tên giáo viên</th>
                    <th><input type="checkbox" checked="checked" disabled="disabled" /></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
            </tbody>
            <tfoot class="bg-primary">
                <tr>
                    <th>STT</th>
                    <th>Mã môn học</th>
                    <th>Tên môn học</th>
                    <th>Số TC</th>
                    <th>Học lần thứ</th>
                    <th>Lớp</th>
                    <th>Tên giáo viên</th>
                    <th><input type="checkbox" checked="checked" disabled="disabled" /></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<div class="table-bordered table-condensed ">
    <h2>Những môn học đã chọn</h2>
    <div class=" text-left col-md-6">
        <input type="text" placeholder="Search.." />
        <button class="glyphicon-search btn btn-primary"></button>
    </div>

    <div class="table-bordered table-condensed col-md-12">
        <div class="table-responsive scrollvert">
            <table class="table table-bordered table-condensed">
                <thead class="bg-primary">
                    <tr>
                        <th>STT</th>
                        <th>Mã môn học</th>
                        <th>Tên môn học</th>
                        <th>Số TC</th>
                        <th>Học lần thứ</th>
                        <th>Lớp</th>
                        <th>Tên giáo viên</th>
                        <th><input type="checkbox" checked="checked" disabled="disabled" /></th>
                    </tr>
                </thead>

                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công Nghệ Phần Mềm Nâng Cao</td>
                    <td>4</td>
                    <td>0</td>
                    <td>TH1601</td>
                    <td>TU.BUI</td>
                    <td><input type="checkbox" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-primary">Lưu Đăng ký</button>
        <button class="btn btn-primary">Clear</button>
    </div>
</div>