@{
    ViewBag.Title = "DanhSachHocPhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">Điền thông tin</div>
    <div class="panel-body row ">
        <div class="col-md-2"><a><label> Môn học : </label></a></div>
        <div class="col-md-2"><input class="form-control" type="text" /></div>
        <div class="col-md-2"><a><label> SốTC : </label></a></div>
        <div class="col-md-2"><input class="form-control" type="text" /></div>
        <div class="col-md-2"><a><label> Lớp : </label></a></div>
        <div class="col-md-2"><input class="form-control" type="text" /></div>
        <div class="col-md-2"><a><label> Sỉ Số : </label></a></div>
        <div class="col-md-2"><input class="form-control" type="text" /></div>
        <div class="col-md-2"><a><label> Học Kỳ : </label></a></div>
        <div class="col-md-2"><input class="form-control" type="text" /></div>
        <div class="col-md-2"><a><label> Năm Học : </label></a></div>
        <div class="col-md-2"><input class="form-control" type="text" /></div>
        <div class="col-md-2"><a><label> Thời Gian  : </label></a></div>
        <div class="col-md-2"><label class="small">Từ</label><input class="form-control" type="date" /></div>
        <div class="col-md-2"><label class="small">đến</label><input class="form-control" type="date" /></div>
        <div class="col-md-12 text-right">
            <button class="btn btn-primary">Lưu thông tin</button>
            <button class="btn btn-primary">Clear</button>
        </div>
    </div>

</div>

<div class="table-bordered table-condensed ">
    <div class=" text-left col-md-6">
        <input type="text" placeholder="Search.." />
        <button class="glyphicon-search btn btn-primary"></button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="scrollable">
                <table class="table-bordered table table-condensed ">
                    <thead class="bg-primary">
                        <tr>
                            <th>STT</th>
                            <th>Tên môn học</th>
                            <th>Số TC</th>
                            <th>Lớp</th>
                            <th>Sỉ số</th>
                            <th>Học Kỳ</th>
                            <th>Năm Học</th>
                            <th class="col-md-2">Thời Gian</th>
                            <th><input type="checkbox" /></th>
                        </tr>
                    </thead>

                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lập Trình Hướng Đối Tượng</td>
                        <td>4</td>
                        <td>TH1601</td>
                        <td>45</td>
                        <td>2</td>
                        <td>2018</td>
                        <td>1/18/2018--5/18/2018</td>
                        <td><input type="checkbox" /></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-primary"> Xóa</button>
        <button class="btn btn-primary">Sửa</button>
    </div>

</div>