@{
    ViewBag.Title = "Trang chính";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<img src="~/Images/banner.jpg" style="max-width:100%;" />*@
@*<div style="border-style: solid; max-width:100%;"><h1 class="text-center">Panel here</h1></div>*@
<div class="row">
    <div class="col-md-9 col-sm-12">
        <h2 class="text-center text-danger bg-info">THÔNG TIN ĐÀO TẠO</h2>
        <hr>
        <div class="">
            <h3> <img src="~/Images/new_animated.gif" style="max-width : 50px" /> Thông báo về việc gia hạn học phí Họ kỳ 2 năm học 2018-2019</h3>
            <p>Hạn chót gia học đóng học phí pla pla pla...........</p>
        </div>
        <hr>
        <div class="">
            <h3> Thông báo về việc gia hạn học phí Họ kỳ 2 năm học 2018-2019</h3>
            <p>Hạn chót gia học đóng học phí pla pla pla...........</p>
        </div>
        <hr>
        <div class="">
            <h3> Thông báo về việc gia hạn học phí Họ kỳ 2 năm học 2018-2019</h3>
            <p>Hạn chót gia học đóng học phí pla pla pla...........</p>
        </div>
        <hr>
        <div class="">
            <h3> Thông báo về việc gia hạn học phí Họ kỳ 2 năm học 2018-2019</h3>
            <p>Hạn chót gia học đóng học phí pla pla pla...........</p>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-12" style="padding-top:15px;">
        <div class="panel panel-default bg-info text-center">
            <div class="panel-heading">Yêu Cầu Tư Vấn</div>
            <div class="panel-body">
                <div class="form-group input-group">
                    <span class="input-group-addon">Name</span>
                    <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Email</span>
                    <input class="form-control" type="email" placeholder="Email Address">
                </div>
                <div>
                    <span class="">Message</span>
                    <textarea class="form-control" placeholder="Message"></textarea>
                </div>
                <button class="btn btn-default" type="submit">Gửi</button>
            </div>
        </div>
        <div class="col-sm-12 panel panel-default bg-info text-center">
            <h3>Email Giảng viên</h3>
            <button onclick="window.location.href='/Home/Teacher'"><i class="glyphicon glyphicon-envelope" style="font-size: 100px;"></i></button>
        </div>
    </div>
</div>