
@{
    ViewBag.Title = "Marks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div>
            <h2>Danh sách điểm thi</h2>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label for="search">Tra cứu học kì:</label>
                <input type="search" class="form-control" id="Search" placeholder="Vidu:201801...">
            </div>
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
        <table class="table table-striped table-dark">
            <thead class="alert alert-info">
                <tr>
                    <th>STT</th>
                    <th>Mã môn học</th>
                    <th>Tên môn học</th>
                    <th>Số TC</th>
                    <th>% KT</th>
                    <th>% Thi</th>
                    <th>Điểm giữa kì/th>
                    <th>Điểm cuối kì</th>
                    <th>Điểm tổng kết</th>
                    <th>Xếp loại</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công nghệ phần mềm nâng cao</td>
                    <td>4</td>
                    <td>50</td>
                    <td>50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>B+</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công nghệ phần mềm nâng cao</td>
                    <td>4</td>
                    <td>50</td>
                    <td>50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>B+</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công nghệ phần mềm nâng cao</td>
                    <td>4</td>
                    <td>50</td>
                    <td>50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>B+</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công nghệ phần mềm nâng cao</td>
                    <td>4</td>
                    <td>50</td>
                    <td>50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>B+</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CN1026</td>
                    <td>Công nghệ phần mềm nâng cao</td>
                    <td>4</td>
                    <td>50</td>
                    <td>50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>7.50</td>
                    <td>B+</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <div>
                <tr>
                    <th class="texthighlight_1">Điểm trung bình học kì hệ 10/100:</th>
                    <th class="texthighlight_1">6</th>
                </tr>
                <tr>
                    <th class="texthighlight_1">Điểm trung bình học kì hệ 4: </th>
                    <th class="texthighlight_1">6</th>
                </tr>
                <tr>
                    <th class="texthighlight_1">Điểm trung bình tích lũy: </th>
                    <th class="texthighlight_1">6</th>
                </tr>
                <tr>
                    <th class="texthighlight_1">Điểm trung bình tích lũy(hệ 4): </th>
                    <th class="texthighlight_1">6</th>
                </tr>
                <tr>
                    <th class="texthighlight_1">Số tín chỉ đạt:</th>
                    <th class="texthighlight_1">6</th>
                </tr>
                <tr>
                    <th class="texthighlight_1">Số tín chỉ tích lũy:</th>
                    <th class="texthighlight_1">6</th>
                </tr>
                <tr>
                    <th class="texthighlight_1">Phân loại điểm trung bình HK:</th>
                    <th class="texthighlight_1">6</th>
                </tr>
            </div>
        </table>
    </div>
