
@{
    ViewBag.Title = "ThongTinMonHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navigate-base" align="left">
    <div class="title-base">
        <div class="title">
            <table></table>
        </div>
    </div>

    <fieldset class="table-bordered table table-condensed ">
        <div class="table-bordered table table-condensed ">
            <div class="col-md-1"><a><label> Môn học:</label></a></div>
            <div class="col-md-2 "><input class="form-control" type="text" /></div>
            <div class="col-md-1 "><a><label> Ngành : </label></a></div>
            <div class="col-md-2 "><input class="form-control" type="text" /></div>
            <div class="col-md-2  "><a><label> Chuyên Ngành : </label></a></div>
            <div class="col-md-2"><input class="form-control" type="text" /></div>
            <div class="col-md-1"><a><label> Số TC : </label></a></div>
            <div class="col-md-1 "><input class="form-control" type="text" /></div>
            <div class="col-md-1"><a><label> Số tiết lý thuyết : </label></a></div>
            <div class="col-md-2"><input class="form-control" type="text" /></div>
            <div class="col-md-1"><a><label> Số tiết thực hành : </label></a></div>
            <div class="col-md-2"><input class="form-control" type="text" /></div>
            <div class="col-md-2"><a><label> Hệ số điểm lý thuyết : </label></a> </div>
            <div class="col-md-2"><input class="form-control" type="text" /></div>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-primary">Lưu thông tin</button>
            <button class="btn btn-primary">Clear</button>
        </div>

    </fieldset>

    <fieldset class="table-bordered table table-condensed">
        <div class=" text-left col-md-6">
            <input type="text" placeholder="Search.." />
            <button class="glyphicon-search btn btn-primary"></button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="scrollable">
                    <table class="table-bordered table table-condensed ">
                        <thead class="bg-primary ">
                            <tr>
                                <th>STT</th>
                                <th>Mã Môn Học</th>
                                <th>Tên Môn Học</th>
                                <th> Chuyên Ngành</th>
                                <th>Số TC</th>
                                <th>Số tiết lý thuyết</th>
                                <th>Số tiết thực hành</th>
                                <th>Hệ số điểm lý thuyết</th>
                                <th><input class="form-control" type="checkbox" checked="checked" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>CN1026</td>
                                <td>Lập Trình Hướng Đối Tượng</td>
                                <td>Công Nghệ Phần Mềm </td>
                                <td>4</td>
                                <td>45</td>
                                <td>30</td>
                                <td>50%</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class=" text-right ">
                <button class="btn btn-primary">Sửa</button>
                <button class="btn btn-primary">Xóa</button>
            </div>
        </div>

    </fieldset>
</div>