<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi rồi !</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi rồi.</h1>
        <h2>Lỗi xảy ra trong quá trình xử lý yêu cầu.</h2>
    </hgroup>
</body>
</html>
